.category-container{
    display: flex;
    flex-direction: column;
}

.category-container > * {
    width: 100%;
}

#btn{
    background-color: #3fcc88 !important;
    color: black;
}

#btn:hover{
    background-color: #646464 !important;
    color: white;
    border: 1px solid #3fcc88 !important;
}

#btnCancel{
    background-color: red;
    color: white;
}

#btnCancel:hover{
    background-color: #646464;
    color: red;
    border: 1px solid red;
}

.text-center{
    text-align: center !important;
}